<!DOCTYPE html>
<html>
  <head>
    <title>naganocake_practice</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_pack_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <header class="bg-dark text-white pt-5 pb-4">
      <nav class="navbar navbar-light">
      <div class="header-content">
      <%#= link_to 'NaganoCake', (admin_signed_in? ? admin_top_path : root_path ), class: "logo" %>
      <%= link_to root_path, class:'navbar_brand' do %>
      <button type="button" class="btn btn-warning">NaganoCake</button><% end %>
        <ul class="navbar nav-expand-lg list-unstyled">
          <% if admin_signed_in? %>
            <li>
              <%= link_to admin_items_path, class:'navbar_brand' do %>
              <button type="button" class="btn btn-warning">商品一覧</button><% end %>
            </li>
            <li>
              <%= link_to admin_customers_path, class:'navbar_brand' do %>
              <button type="button" class="btn btn-warning">会員一覧</button><% end %>
            </li>
            <li>
              <%= link_to admin_orders_path, class:'navbar_brand' do %>
              <button type="button" class="btn btn-warning">注文履歴一覧</button><% end %>
            </li>
            <li>
              <%= link_to admin_genres_path, class:'navbar_brand' do %>
              <button type="button" class="btn btn-warning">ジャンル一覧</button><% end %>
            </li>
            <li>
              <%= link_to destroy_admin_session_path, method: :delete, class:'navbar_brand' do %>
              <button type="button" class="btn btn-warning">ログアウト</button><% end %>
            </li>
          <% elsif customer_signed_in? %>
            <p>ようこそ、<%= current_customer.full_name %>さん!</p>
            <li>
              <%= link_to mypage_path, class:'navbar_brand' do %>
              <button type="button" class="btn btn-warning">マイページ</button><% end %>
            </li>
            <li>
              <%= link_to items_path, class:'navbar_brand' do %>
              <button type="button" class="btn btn-warning">商品一覧</button><% end %>
            </li>
            <li>
              <%= link_to cart_items_path, class:'navbar_brand' do %>
              <button type="button" class="btn btn-warning">カート</button><% end %>
            </li>
            <li>
              <%= link_to destroy_customer_session_path, method: :delete, class:'navbar_brand' do %>
              <button type="button" class="btn btn-warning">ログアウト</button><% end %>
            </li>
          <% else %>
            <li>
              <%= link_to items_path, class:'navbar_brand' do %>
              <button type="button" class="btn btn-warning">商品一覧</button><% end %>
            </li>
            <li>
              <%= link_to new_customer_registration_path, class:'navbar_brand' do %>
              <button type="button" class="btn btn-warning">新規登録</button><% end %>
            </li>
            <li>
              <%= link_to new_customer_session_path, class:'navbar_brand' do %>
              <button type="button" class="btn btn-warning">ログイン</button><% end %>
            </li>
          <% end %>
        </ul>
        <!--<%# if admin_signed_in? %>-->
        <!--  <%#= form_tag(admin_search_path, method: :get) do %>-->
        <!--    <%#= text_field_tag "search[content]", "", :placeholder =>"会員: 姓,名,セイ,メイ / 商品: 商品名" %>-->
        <!--    <%#= select_tag "search[model]", options_for_select({ "会員" => "customer", "商品" => "item" }) %>-->
        <!--    <%#= select_tag "search[method]", options_for_select({ "部分一致" => "partial", "前方一致" => "forward", "後方一致" => "backward", "完全一致" => "perfect" }) %>-->
        <!--    <%#= submit_tag '検索', class: "btn btn-primary" %>-->
        <!--  <%# end %>-->
        <!--<%# end %>-->

      </div>
      </nav>
    </header>

    <main>
      <%= yield %>
    </main>

    <footer>
      <div class="col align-self-center">
      Copyright © Infratop Inc. All Rights Reserved.
      </div>
    </footer>
  </body>
</html>
